body {
  font-family: "Open Sans", sans-serif; 

}

h1 {
  font-family: 'Rock Salt', cursive;
  color: rgb(0, 0, 0);
}

h2 {
  color: #000000; }
  
h3 {
  color: #000000; 
  font-size: 20px; }

header h2 {
  color: #000000; }

.site-footer {
  background-image: linear-gradient(#ffffff, white);
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255); }

.row-content {
  padding: 50px 0;
  min-height: 200px; }

a {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

body {
  background-color: #fffdfd;
}
.navbar {
  background-color: rgb(232, 232, 232) }

.navbar-nav a:hover{
  color: red;
}  

.carousel {
  padding: 0px;
  padding-bottom: 10px;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

#donateModal .modal-header {
  background-color: #ffffff;
  color: white; }

#loginModal .modal-header {
  background-color: #000000;
  color: white; }
